---
const { product } = Astro.props;
const imagePath = `https://kea-alt-del.dk/t7/images/webp/640/${product.id}.webp`;
---

<article>
  <article class="product">
    <img src={imagePath} alt="sports trøje" />
    <h3>{product.productdisplayname}</h3>
    <p class="subtle">{product.articletype} | {product.brandname}</p>
    <div class="price_container">
      <p class="price">
        DKK {product.price},-
      </p>
      <p class="discount">Jeg er på udsalg! <span>&#8208;{product.discount}&#37;</span></p>
      <a href=`single/${product.id}`>Read more</a>
    </div>
  </article>
</article>
